.App {
  background: #F9F9F9;
  color: #3C5AA8;

  font-family: 'Ubuntu', sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: 100vh;
  box-shadow: 10px 10px 70px rgba(93, 109, 151, 0.5);
}

button {
  width: 189px;
  height: 38px;
  background: #4A9DFF;
  border-radius: 10px;
  border-color: #4A9DFF;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;

  position: absolute;
  right: 100px;

  margin-top: 10px;
}

table {
  width: 70vw;
}

caption, thead {
  opacity: 0.4;
}

caption {
  margin: 15px;
  font-size: 20px;
}

.mainTable > tbody {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;

  color: #5D6E97;
}

td {
  padding: 10px;
}

.mainTable > button {
  bottom: 70px;
}

.upperTable > button {
  top: 370px;
}